.advantage__intro {
  line-height: 1.44;
  text-align: center;
  color: #ffffff;
  background-color: $blue;
}

.advantage__intro span,
.advantage__bridge span {
  margin: 17px 0;
  display: block;
}

.advantage__list {
  @include reset-list;
}

.advantage__slogan {
  font-size: 18px;
}

.advantage__bridge {
  @include reset-list;
  background-color: #eeeeee;
  color: #000000;
  text-align: center;
}

.advantage__bridge-item {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d6d6d6;
}

.advantage__bridge-item:last-child {
  border: none;
}

@media (min-width: 768px) {
  .advantage {
    min-width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantage__intro-wrapp {
    display: flex;
    width: 100%;
  }

  .advantage__intro-img {
    flex-grow: 1;
  }

  .advantage__intro {
    flex-basis: 22%;
    padding: 40px;
  }

  .advantage__bridge {
    display: flex;
  }

  .advantage__item img {
    min-width: 512px;
    height: auto;
  }

  .advantage__bridge-item {
    padding: 32px 45px;
    border: none;
  }

  .advantage__bridge-slogan {
    font-size: 21px;
    line-height: 26px;
  }

  .advantage__slogan {
    font-size: 21px;
    line-height: 26px;
    max-width: 110px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .advantage__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
  }

  .advantage__slogan {
    display: block;
    text-align: center;
    max-width: 150px;
  }

  .advantage__intro-wrapp {
    height: 256px;
  }

  .advantage__intro-img {
    min-width: 800px;
  }
}
