
.fieldset-emotion label {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}

.fieldset-emotion textarea {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 51px;
  padding-top: 22px;
  padding-left: 21px;
  padding-right: 33px;
  width: 226px;
  height: 148px;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
