.form {
  margin-left: 20px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 320px;
}

.form legend {
  margin-top: 50px;
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.form__fieldset label {
  padding-top: 20px;
  padding-right: 14px;
  line-height: 1.86;
}

.form__button {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 58px;
  background-color: $blue;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
