.advantage {
  width: 320px;
}

.advantage__title {
  @include mp;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 255px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.advantage__intro {
  @include mp;
  margin-bottom: 30px;
  width: 255px;
  line-height: 1.44;
}

.advantage__intro span {
  margin: 15px;
  display: block;
}

.advantage__list {
  margin: 0;
  padding: 0;
  margin-top: 37px;
  list-style: none;
}

.advantage__slogan {
  @include mp;
  margin-top: 90px;
  width: 265px;
  line-height: 1.5;
}

.blue-wrapper {
  margin: 0;
  padding: 0;
  color: #ffffff;
  width: 320px;
  background-color: #81b3d2;
}

.gray-wrapper {
  width: 320px;
  background-color: #f2f2f2;
}

.real-city-info {
  @include mp;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
}

.real-city-info__item {
  padding-top: 27px;
  padding-left: 69px;
  width: 250px;
}

.real-city-info__slogan {
  margin-top: 38px;
  width: 210px;
  height: 92px;
  line-height: 1.5;
}
