.advantage__title {
  @include mp;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.advantage__item {
  text-align: center;
}

.advantage__intro {
  @include mp;
  line-height: 1.44;
}

.advantage__intro span {
  margin: 15px;
  display: block;
}

.advantage__slogan {
  @include mp;
  margin-top: 90px;
  line-height: 1.5;
}

.blue-wrapper {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #81b3d2;
}

.gray-wrapper {
  background-color: #f2f2f2;
}

.real-city-info {
  @include mp;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
}

.real-city-info__item {
  padding-top: 27px;
  padding-left: 69px;
}

.real-city-info__slogan {
  margin-top: 38px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .advantage {
    min-width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-text {
    min-width: 490px;
    justify-content: center;
  }

  .advantage__item:not(.gray-wrapper) {
    min-width: 680px;
    display: flex;
  }

  .advantage__item img {
    min-width: 512px;
    height: auto;
  }

  .real-city-info {
    display: flex;
    justify-content: space-between;
  }

  .real-city-info__item {
    text-align: center;
  }

  .gray-wrapper__list {
    display: flex;
    justify-content: space-between;
  }

  .gray-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .advantage {
    min-width: 1200px;
  }

  .main-text {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 55px;
    margin: 0;
    align-items: center;
    background-color: #ffffff;
  }

  .main-text__slogan {
    font-size: 21px;
    width: 490px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
  }

  .main-text__intro {
    @include mp;
    line-height: 1.86;
    text-align: center;
    padding-bottom: 40px;
  }

  .advantage__list {
    @include mp;
    display: flex;
    flex-direction: column;
  }

  .advantage__item:not(.gray-wrapper) {
    width: 1200px;
    height: 256px;
    display: flex;
    flex-direction: row;
  }

  .advantage__slogan {
    justify-content: center;
    align-items: center;
  }

  .advantage__item img {
    min-width: 800px;
    height: auto;
  }

  .real-city-info {
    @include mp;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .real-city-info__item {
    padding-top: 60px;
    padding-bottom: 85px;
    text-align: center;
    align-items: center;
  }

  .real-city-info__item:nth-child(2) {
    order: 1;
  }

  .real-city-info__intro {
    width: 283px;
  }

  .gray-wrapper__list {
    @include mp;
    background-color: #f2f2f2;
    min-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .gray-wrapper {
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
    align-items: center;
  }
}
