.filter {
  margin-left: 20px;
}

.filter__fieldset {
  @include mp;
  border: none;
  max-width: 320px;
}

legend {
  margin-top: 50px;
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.filter__fieldset label {
  padding-top: 20px;
  padding-right: 14px;
  line-height: 1.86;
}

.fieldset-contact input,
.fieldset-name input {
  width: 192px;
  height: 58px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.fieldset-name__item {
  @include mp;
  display: flex;
  max-width: 280px;
}

.fieldset-contact label {
  @include mp;
  margin-bottom: 14px;
}

.fieldset-contact input {
  width: 280px;
}

.fieldset-opinion__item {
  @include mp;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
}

.fieldset-opinion__item input {
  margin-bottom: 23px;
  width: 46px;
  height: 46px;
  border: solid 5px #f2f2f2;
  background-color: #f2f2f2;
}

.fieldset-opinion label {
  @include mp;
  padding-top: 10px;
}

.fieldset-attractions__item {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
}

.fieldset-attractions input {
  margin-bottom: 34px;
  width: 46px;
  height: 46px;
  border: solid 5px #f2f2f2;
  background-color: #f2f2f2;
}

.fieldset-attractions label {
  padding-top: 10px;
}

.fieldset-emotion label {
  @include mp;
  font-size: 18px;
  font-weight: bold;
}

.fieldset-emotion textarea {
  @include mp;
  margin-top: 21px;
  margin-bottom: 51px;
  padding-top: 22px;
  padding-left: 21px;
  padding-right: 33px;
  width: 226px;
  height: 148px;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

.filter__button {
  @include mp;
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #ffffff;
  border: none;
}
