.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__slogan {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin-top: 41px;
}

.produced {
  margin-top: 51px;
}
