.main-header {
  width: 320px;
  position: relative;
}

.main-header__item {
  width: 320px;
  height: 55px;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
}

.main-header a {
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  color: #ffffff;
  text-decoration: none;
}

.main-header__list {
  z-index: 2;
}

.main-header__logo {
  position: absolute;
  left: 110px;
  z-index: 1;
}

.main-header__burger {
  position: relative;
  width: 320px;
  height: 56px;
  background-color: #ffffff;
}

.main-header__toggle {
  position: absolute;
  width: 23px;
  height: 21px;
  top: 20px;
  right: 20px;
  background-color: #81b3d2;
  border: none;
}

.main-header__toggle--close {
  position: absolute;
  top: 240px;
  right: 20px;
  background-color: #a1a1a1;
}

.main-text {
  margin-top: 40px;
  padding-left: 27px;
  text-align: center;
  width: 270px;
}

.main-text__slogan {
  font-size: 18px;
  font-weight: bold;
}

.main-text__intro {
  font-size: 14px;
  font-weight: normal;
}
