.main-photo {
  position: relative;
  width: 321px;
  height: 158px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -226px -231px;

  img {
    position: absolute;
    top: 52px;
    left: 46px;
  }
}

.photo__slogan {
  @include mp;
  font-weight: bold;
}

.liks {
  margin-top: 19px;
  font-size: 14px;
}

.photo__intro {
  font-weight: normal;
  line-height: 1.71;
}

.author {
  text-transform: none;
}

.photo__item {
  @include mp;
  margin: 20px;
  text-align: left;
}

.video {
  text-align: center;
}

.video__slogan {
  font-size: 18px;
}

.video__intro {
  line-height: 1.71;
}

@media (min-width: 768px) {
  .main-photo {
    position: relative;
    width: 768px;
    height: 346px;
    background-image: url("../img/bg-back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    img {
      width: 460px;
      height: 80px;
      position: absolute;
      top: 94px;
      left: 156px;
    }
  }

  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .photo__list {
    @include mp;
    min-width: 648px;
    display: flex;
    flex-wrap: wrap;
  }

  .photo__item {
    @include mp;
    display: flex;
    flex-direction: column;
  }

  .photo__item:first-child {
    img {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .photo {
    min-width: 1200px;
  }

  .main-photo {
    position: relative;
    width: 1200px;
    height: 357px;
    background-image: url("../img/bg-back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    img {
      width: 460px;
      height: 80px;
      position: absolute;
      top: 102px;
      left: 370px;
    }
  }

  .main-text {
    width: 428px;
    height: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo__list {
    @include mp;
    display: flex;
    flex-wrap: wrap;
  }
}
